
<div class="col-6 d-flex">
    <div class="border">
    <img src="https://placedog.net/500" alt="rooftop">
    </div>
    <div class="border align-items-center">
    <p>Address: {{address}}</p>
    <p>Bed/Bath: {{bedrooms}}/{{bathrooms}}</p>
    <p>Availability: {{availability}}</p>
    <p>Posted on: {{created_at}}</p>
</div>
</div>
      