<div class="card">
  <img src="https://placedog.net/500" alt="" srcset="" />
  <h2>{{address}}</h2>
  <p>{{description}}</p>
  <p class="content-item">Bed/Bath: {{bedrooms}}/{{bathrooms}}</p>
  <p class="content-item">Rent: ${{monthly_rent}}/month</p>
  <p><a class="btn" href="/property/{{id}}" role="button">View details &raquo;</a></p>
</div>