<div class="card">
  <img
    src="https://tenantively-images.s3.amazonaws.com/{{property_image}}"
    alt="An image of the house at {{address}}"
    srcset=""
  />
  <h2>{{address}}</h2>
  <p>{{description}}</p>
  <p class="content-item">Bed/Bath: {{bedrooms}}/{{bathrooms}}</p>
  <p class="content-item">Rent: ${{monthly_rent}}/month</p>
  <p><a class="btn" href="/property/{{id}}" role="button">View details &raquo;</a></p>
</div>