{{> header}}

<div class="container">
  <div class="row mt-3">
    <h2>{{properties.address}}</h2>
    <p>{{properties.property_type}}
      with
      {{properties.bedrooms}}
      bedrooms and
      {{properties.bathrooms}}
      bathrooms</p>
  </div>
  <div class="row mt-3">
    <div class="col">
      <img
        src="https://tenantively-images.s3.amazonaws.com/{{properties.property_image}}"
        alt="An image of the house at {{properties.address}}"
        srcset=""
      />
    </div>
    <div class="col">
      <h3>At a glance</h3>
      <ul>
        <li>Monthly rent: <strong>${{properties.monthly_rent}}</strong></li>
        <li>Bedrooms: {{properties.bedrooms}}</li>
        <li>Bathrooms: {{properties.bathrooms}}</li>
        {{#if properties.amenity.pets}}
          <li>Pets allowed</li>
        {{/if}}
        {{#if properties.amenity.pool}}
          <li>Access to a pool</li>
        {{/if}}
        {{#if properties.amenity.laundry}}
          <li>Laundry room on premises</li>
        {{/if}}
        <li>{{properties.amenity.parking}}</li>
      </ul>
    </div>
  </div>
  <div class="row mt-3">
    <p>{{properties.description}}</p>
  </div>
</div>